<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imagify</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/css/bootstrap-colorpicker.css"> -->
    <!-- Custom CSS -->
    <link href="style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body onload="runOnce()">
    <div class="container" id="app">
      <!-- Header -->
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1 class="text-center">Imagify</h1>
          <small>Write anything, format it, then download as an image.</small>
          <hr>
        </div>
      </div>
      <!-- ./Header -->

      <!-- Text Entry -->
      <div class="row">
        <div class="col-xs-12">
          <textarea type="textarea" name="" id="text" class="form-control" required="required" placeholder="Start typing..." rows="1">The greatest quote ever!</textarea>
        </div>
      </div>
      <!-- ./Text Entry -->

      <!-- Image Canvas -->
      <div class="row">
        <div class="col-xs-12 text-center top-20">
          <canvas id="canvas" width="600px" height="400px"></canvas>
            
        </div>
      </div>
      <!-- ./Image Canvas -->

      <!-- Image Options -->
      <div class="row top-20">
        <div class="col-xs-12">
          <form method="" class="" onsubmit="return false;">
            <legend>Edit</legend>
          
            <div class="form-group">
              <label>Background Color</label>
              <div id="bg-color-picker"></div>
            </div>

            <div class="form-group">
              <label>Font Color</label>
              <div id="font-color-picker"></div>
            </div>
          
            <div class="row">
              <div class="col-xs-2">
                <div class="form-group" class="">
                  <label class="col-xs-12">Font Size</label>
                  <input type="number" v-model="font.size" class="form-control col-xs-12">
                </div>
              </div>
              <!-- <div class="col-xs-2">
                <div class="form-group" class="">
                  <label class="col-xs-12">Width</label>
                  <input type="number" v-model="width" class="form-control col-xs-12">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="form-group" class="">
                  <label class="col-xs-12">Height</label>
                  <input type="number" v-model="height" class="form-control col-xs-12">
                </div>
              </div> -->
            </div>
           
            <div class="row top-15">
              <div class="col-xs-6">
                <div class="form-group">
                  <button type="button" class="btn btn-primary" onclick="downloadCanvasAsImage()">Download Image</button>
                </div>
              </div>
            </div>
            
          </form>

        </div>
      </div>
      <!-- ./Image Options -->
      <div class="pull-right top-30">Created By Ahmed Atef</div>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Bootstrap Colorpicker JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/js/bootstrap-colorpicker.js"></script> -->
    <!-- VueJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.4/vue.js"></script>
    <!-- Custom Scripts -->
    <script src="script.js"></script>
  </body>
</html>   